body {
  text-align: center;
}

#notes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#notes input {
  padding: 0.4rem;
}

#find {
  margin-top: 1rem;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  cursor: pointer;
}
